root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true

# Markdown
[*.md]
indent_size = 2

# PowerShell
[*.{ps1,psd1,psm1,psc1}]
indent_size = 4

# Visual Studio
[*.{sln,csproj,cs}]
indent_size = 4
dotnet_diagnostic.CA1416.severity = none

# Shell scripts
[*.sh]
end_of_line = lf
indent_size = 4

# Xml project files
[*.{csproj,ps1xml}]
indent_size = 2

# Data serialization
[*.{json,yaml,yml}]
indent_size = 2

# Xml files
[*.{resx,ruleset,stylecop,clixml,xml,xsd,xsl}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2
