Describe "{{FunctionName}}" {
    BeforeAll {
        $modulePath = Join-Path $PSScriptRoot '..\src\{{FunctionName}}.psm1'
        Import-Module $modulePath
    }

    AfterAll {
        Remove-Module '{{FunctionName}}' -Force
    }

    It "does have proper parameters" {
        Get-Command {{FunctionName}} | Should -Not -HaveParameter Test -Type ([string])
    }

    Context "unit tests" {
        BeforeEach {
            Mock {{FunctionName}} {}
        }

        It "works" {
            $scriptBlock = { {{FunctionName}} }

            $scriptBlock | Should -Not -Throw

            $null = Invoke-Command $scriptBlock

            Should -Invoke {{FunctionName}} -Times 1
        }
    }

    Context "e2e tests" {
        It "works" {
            # test
        }

        It "does not work" {
            # test
        }
    }
}
